<% if @list.errors.any? %>
    <div>
    <h2>
        <%= pluralize(@list.errors.count, "error") %>
        prohibited this from being saved:
    </h2>

    <ul>
        <% @list.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
    </ul>
    </div>
<% end %>
