<%= link_to "view all lists", lists_path %></h4>
 <h2> All tasks for </h2>
 <h1><%= @user.email%>: </h1>

<div>
  <div>
    <ul class="tasks-list">
    <div class="list-item">
    <% if !@user.tasks.nil? %>
      <% @user.tasks.each do |t| %>
          <h3><%=t.task %></h3>
          <h4><%= t.details %></h4>
          <%end%>
       <%else%>
            <h3> This user has no tasks to complete</h3>
         <%end%>
       </div> 
    </ul>
  </div>
  </div>
 