<% if @task.errors.any? %>
    <div>
    <h2>
        <%= pluralize(@task.errors.count, "error") %>
        prohibited this from being saved:
    </h2>

    <ul>
        <% @task.errors.full_messages.each do |msg| %>
         <li><%= msg %></li>
        <% end %>
    </ul>
    </div>
<% end %>