<!-- when a user clicks to view tasks, it links to 'tasks/index' to view all tasks with their associated lists -->
<h4><%= link_to "view all lists", lists_path %></h4>
 <h1> All Tasks: </h1>

<div>
  <div>
    <ul class="tasks-list">
      <% @tasks.each do |t| %>
          <li class="list-item">
          <h3><%=t.task %></h3>
            <div>
             <h4><%= t.details %></h4>
             
            </div>
            <h5>belongs to <%=t.user.email%> </h5>
          </li>
          <%end%>
    </ul>
     
  </div>
  </div>
 
</div>