<!-- when a user clicks to create a new task, routes to 'tasks/new' -->
<h4> <%= link_to 'View all lists', lists_path %> </h4>
 <h2> <%= 'New task for' %> </h2>
<h3> <%= @list.name %> </h3>
<%=render "form" %>