<div>
<h1> All Users: </h1>
  <div>
    <ul class="tasks-list">
      <% @user.each do |t| %>
          <li class="list-item">
          <h3><%= link_to t.email, show_path(t)%></h3> 
          </li>
          <%end%>
    </ul>
     
  </div>
  </div>
 
</div>